$white: #EEEEEE;
$muted-text-color: #3A4750;
$primary-color: #393E46;
$primary-color-dark: #222831;
$accent-color: #00ADB5;
$max-width: 700px;
$margin: 2rem;

// color scheme: http://www.colorhunt.co/c/2763