.main-header {
  height: 100vh;
  background: $primary-color;
  color: $white;
  padding: 0 1em;
  font-size: 14px;
  &__content {
    margin: 0 auto;
    text-align: center;
    max-width: $max-width;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }
  &__name {
    font-size: 3em;
  }
  &__desc {
    margin: 1em 0;
    font-size: 1.2em;
  }
  &__social {
    font-size: 0.84em;
    & > a {
      @include btn;
    }
  }
}

@media screen and (min-height: 850px) {
  .main-header {
    height: 60vh;
  }
}

@media screen and (min-width: 920px) {
  .main-header {
    font-size: 20px;
  }
}